.osnova {
    margin-top: 13rem;
    width: 364.7px;
    height: 500px;
    background: radial-gradient(50% 50% at 50% 50%, #4200FF 0%, #651DC0 53.19%, #000000 100%);
    border-radius: 4px;
}

body {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    background-size: cover;
}

body {
    background-image: url(photo/galaktika_zemlia_set_126341_3840x2160.jpg);
}

.history {
    width: 314px;
    height: 190px;
    margin-left: 26px;
    padding-top: 40px;
    background-image: url(photo/Group\ 1.png);
    margin-top: 20px;
    border-radius: 6px;
    background-size: cover;
    
}

.osn {
    width: 284px;
    height: 104px;
    display: flex;
    background: #0883B8;
    border-radius: 3px;
    margin: auto;
    justify-content: space-around;
    padding-top: 10px;
}

.ph1 {
    width: 67px;
    height: 84px;
    background: url(photo/vkuhqpoBskc.jpg);
    border-radius: 3px;
    background-size: cover;
}

.ph2 {
    width: 67px;
    height: 84px;
    background: url(photo/qU4bf7NDkUs.jpg);
    border-radius: 3px;
    background-size: cover;
}

.ph3 {
    width: 67px;
    height: 84px;
    background: url(photo/iww33xauUz4.jpg);
    border-radius: 3px;
    background-size: cover;
}

.kli {
    width: 314px;
    height: 190px;
    background: #0883B8;
    margin-left: 26px;
    margin-top: 45px;
    padding-top: 20px;
    border-radius: 6px;
}

.ph4 {
    width: 220px;
    height: 150px;
    background: url(photo/qKI1VqD37wo.jpg);
    background-size: cover;
    margin: auto;
    padding-top: 1rem;
}

.text {
    width: 100px;
    background: #0883B8;
    border-radius: 6px;
    text-align: center;
    margin: -20px auto 20px;
    background-image: url(photo/mlechnyj_put_zvezdnoe_nebo_zvezdy_128523_3840x2160.jpg);
    background-size: cover;
    color: white;
}