body{
  background: linear-gradient(to left,rgb(0, 204, 255), white);
}
.carousel {
    height: 580px ;
  }
  .carousel-inner img {
    height: 540px ;
    margin-top: 20px;
  }
  .carousel-indicators li {
    border-color: #000;
  }
  .carousel-indicators .active {
    background-color: #000;
  }
  .popular{
      text-align: center;
      margin-top: 50px;
 
  }
.jkm{
    color: grey;
    text-align: center;
}
.games{
  display: flex;
  justify-content: space-evenly;
}
.titanfall{
  margin-top: 20px;
  margin-left: 200px;
}
.novosti{
  text-align: center;
  margin-top: 30px;
}