<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex Legnds</title>
    <link rel="stylesheet" href="../static/css/apex.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body background="../static/clan/apex-legends/apex-legends-season-5.jpg">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="index.html">Домой</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Кб.кланы</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="navi.html">NAVI</a>
        <a class="dropdown-item" href="vp.html">VP</a>
        <a class="dropdown-item" href="gambit.html">Gambit</a>
        
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="JKM-hub.html">Турниры JKM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="podacha-zayavki.html">Податься в JKM</a>
    </li>
  </ul>
<div class="games">
    <div class="card" style="width: 25rem;">
        <img src="../static/clan/apex-legends/apex-grid-tile-about-regular-seasons.jpg.adapt.crop16x9.652w.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Регулярные сезоны</h5>
          <p class="card-text">Сражайтесь в езонах и открывайе новые легенды, оружие, тематическую добычу и многое другое<p>
          
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img src="../static/clan/apex-legends/apex-grid-tile-about-innovative-combat.jpg.adapt.crop16x9.652w.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Инновационная система возрождения</h5>
          <p class="card-text">Попробуйте свои силы в игре, которая скажет новое слово в жанре «королевской битвы»! Используйте маяки возрождения для воскрешения своих союзников, умную связь для быстрого взаимодействия с товарищами, интеллектуальное снаряжение для сбора только нужных вещей и совершенно новый способ десантирования с выпускающими персонажами.</p>
        
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img src="../static/clan/apex-legends/apex-grid-tile-about-battle-royale.jpg.adapt.crop16x9.652w.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Стратегическая короевская битва</h5>
          <p class="card-text">Чтобы выжить в Играх Apex, нужно быстро принимать решения. Осваивайте способности своей легенды, меняйте стратегию боя на ходу и используйте сильные стороны команды в жестоких матчах для 60 игроков.</p>
         
        </div>
      </div>
  </div> 
  <div class="knp">
    <div class="card" style="width: 25rem;">
      <img src="../static/clan/apex-legends/apex-media-team-br-16x9.jpg.adapt.crop16x9.1455w.jpg" class="card-img-top" alt="...">
      <div class="card-body">
      <h5 class="card-title">Легенды</h5>
      <p class="card-text">Выберите своего персонажа и используйте его набор спец-умений во благо победы</p>
    </div>
  </div>
    <div class="download">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/75szF5i41Bw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <a href="https://www.origin.com/rus/ru-ru/store/apex/apex" type="button" class="btn btn-secondary btn-lg btn-block">скачать игру</a>
  <footer>...</footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> 
</body>
</html>