<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>JKM турниры</title>
    <link rel="stylesheet" href="../static/css/JKM-hub.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body background="img/JKM-logo.png">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="index.html">Домой</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Кб.кланы</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="navi.html">NAVI</a>
        <a class="dropdown-item" href="vp.html">VP</a>
        <a class="dropdown-item" href="gambit.html">Gambit</a>
        
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="JKM-hub.html">Турниры JKM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="podacha-zayavki.html">Податься в JKM</a>
    </li>
  </ul>
    <div class="turnir-hub">
        <div class="razd"><h1 class="text-center">выберите разделы</h1></div>
        
    <div class="but">
        <a href="turnir-regist.html" type="button" class="btn btn-primary">Регистрация</a>
    </div>
    <div class="col-md">
        
        <div class="col-md1"><h2>CS:GO</h2>
           <div class="col-md2"><h4>12.08.2020</h4></div>
           <div class="col-md2"><h4>19.08.2020</h4></div>
           <div class="col-md2"><h4>26.08.2020</h4></div>
           <div class="col-md2"><h4>02.09.2020(полуфинал)</h4></div>
           <div class="col-md2"><h4>09.09.2020(финал)</h4></div>
        </div>
        <div class="col-md1"><h2>Fortnite</h2>
            <div class="col-md2"><h4>12.08.2020</h4></div>
           <div class="col-md2"><h4>19.08.2020</h4></div>
           <div class="col-md2"><h4>26.08.2020</h4></div>
           <div class="col-md2"><h4>02.09.2020(полуфинал)</h4></div>
           <div class="col-md2"><h4>09.09.2020(финал)</h4></div>
            
        </div>
        <div class="col-md1"><h2>Apex Legends</h2>
            <div class="col-md2"><h4>12.08.2020</h4></div>
           <div class="col-md2"><h4>19.08.2020</h4></div>
           <div class="col-md2"><h4>26.08.2020</h4></div>
           <div class="col-md2"><h4>02.09.2020(полуфинал)</h4></div>
           <div class="col-md2"><h4>09.09.2020(финал)</h4></div>
        </div>
        <div class="col-md1"><h2>Dota2</h2>
            <div class="col-md2"><h4>12.08.2020</h4></div>
           <div class="col-md2"><h4>19.08.2020</h4></div>
           <div class="col-md2"><h4>26.08.2020</h4></div>
           <div class="col-md2"><h4>02.09.2020(полуфинал)</h4></div>
           <div class="col-md2"><h4>09.09.2020(финал)</h4></div>
        </div>
    </div>
    </div>
    



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>