<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link r<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">el="stylesheet" href="pomoch.css">

</head>
<body>
<div class="games">
    <div class="card" style="width: 36rem;">
        <img src="img/pubg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PUBG</h5>
          <p class="card-text">Игра одна из первых в линейке королевских битв, очень приблежённая к реальности</p>
          <a href="apex-legends/apex.html" class="btn btn-primary">скачать игру</a>
        </div>
      </div>
      <div class="card" style="width: 36rem;">
        <img src="img/pubg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PUBG</h5>
          <p class="card-text">Игра одна из первых в линейке королевских битв, очень приблежённая к реальности</p>
          <a href="apex-legends/apex.html" class="btn btn-primary">скачать игру</a>
        </div>
      </div>
      <div class="card" style="width: 36rem;">
        <img src="img/pubg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PUBG</h5>
          <p class="card-text">Игра одна из первых в линейке королевских битв, очень приблежённая к реальности</p>
          <a href="apex-legends/apex.html" class="btn btn-primary">скачать игру</a>
        </div>
      </div>
    </div>







    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="C:\Users\gulce\Desktop\JKM Store\JKM Store.html">Домой</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Кб.кланы</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="navi.html">NAVI</a>
          <a class="dropdown-item" href="vp.html">VP</a>
          <a class="dropdown-item" href="gambit.html">Gambit</a>
          
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="JKM-hub.html">Турниры JKM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="podacha-zayavki.html">Податься в JKM</a>
      </li>
    </ul>











</body>
</html>